# Node.js
node_modules/
dist/
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Editor Configs
.vscode/
.idea/
.DS_Store
